<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref = "home"></ion-back-button>
    </ion-buttons>
    <ion-title>Itens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of itens">
      <ion-item>
        <ion-label>
          <h3>
            <ion-icon slot="start" name="list"></ion-icon> Descrição: <ion-text color="medium">{{item.descricao}}</ion-text>
          </h3>
          <h3>
            <ion-icon slot="start" name="calendar"></ion-icon> Data de Entrada: <ion-text color="medium">{{item.entrada | date:'dd/MM/yyyy'}}</ion-text>
          </h3>
          <h3>
            <ion-icon slot="start" name="people"></ion-icon> Fornecedor(es):
          </h3>
          <ul class="fornecedores">
            <li *ngFor="let fornecedor of item.fornecedores">
              <ion-text color="medium"> - {{fornecedor.nome}}</ion-text>
            </li>
          </ul>
        </ion-label>
        <ion-note color="secondary" slot="end">
          <h6>{{item.preco | currency:'BRL'}}</h6>
        </ion-note>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="secondary" [routerLink]="['/itens', 'editar', item.id]">
          <ion-icon name="construct" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmacaoExclusao(item)">
          <ion-icon name="backspace" slot="icon-only" ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary" [routerLink]="['/itens', 'cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>